---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Página no encontrada">
  <div class="flex flex-col items-center justify-center mt-20 px-4">

    <h1 class="text-7xl font-bold text-blue-700">
      404
    </h1>

    <h2 class="text-2xl font-semibold mt-4 text-center">
      Página no encontrada
    </h2>

    <p class="mt-4 text-center text-slate-600">
      La página que intenta acceder no existe o fue movida.
    </p>

    <a
      href="/"
      class="mt-8 bg-blue-600 hover:bg-blue-700 text-white px-6 py-3 rounded-xl transition"
    >
      Volver al inicio
    </a>

  </div>
</Layout>