---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import HeroCard from "../components/HeroCard.astro";
import Button from "../components/Button.astro";
return Astro.redirect("/login");
---

<!-- <Layout title="AulaPro">
	<Header />

	<div class="mt-6">
		<HeroCard />
	</div>

	<div class="mt-6">
		<Button
			href="/gestion"
			text="Gestión"
		/>
	</div>

	<div class="mt-6">
		<Button
			href="/administracion"
			text="Administración"
		/>
	</div>
</Layout> -->