PAGINA EN CONSTRUCCION
<div class="mt-6">
      <a
        href="/"
        class="block w-full text-center bg-slate-600 hover:bg-slate-700 text-white py-3 rounded-xl"
      >
        Volver
      </a>
</div>