---
import escudocolegio from "../../public/escudocolegio.webp";
---

<div class="flex flex-col items-center">
  <img
    src={escudocolegio.src}
    alt="Escudo del Colegio"
    class="w-24 h-24 object-contain"
  />

  <h2 class="text-lg font-semibold text-slate-600 uppercase tracking-wide">
    feppa san calixto
  </h2>
  <p class="text-[16px] font-semibold text-slate-400">Segundo Ciclo</p>

  <h1 class="mt-2 text-3xl font-bold text-slate-800">
    EduControl QR
  </h1>

  <p class="text-slate-500">
    Asistencia y Revisión de Tareas
  </p>
</div>