<div
  id="reader"
  class="w-full max-w-sm mx-auto border-2 border-blue-800 rounded-xl overflow-hidden"
>
</div>

<div
  id="resultado"
  class="mt-4 p-4 bg-slate-100 rounded-lg text-center font-semibold"
>
  Iniciando Cámara...
</div>

<script>
  import { Html5Qrcode } from "html5-qrcode";

  let ultimoCodigo: string | null = null;
  let puedeEscanear = true;
  let html5QrCode: Html5Qrcode;

  async function iniciarCamara() {
    const resultado = document.getElementById(
      "resultado",
    ) as HTMLDivElement | null;

    try {
      html5QrCode = new Html5Qrcode("reader");

      await html5QrCode.start(
        { facingMode: "environment" },
        {
          fps: 10,
          qrbox: {
            width: 250,
            height: 250,
          },
        },
        (decodedText: string) => {
          if (!puedeEscanear) return;

          puedeEscanear = false;

          // Evitar múltiples lecturas del mismo QR
          if (decodedText === ultimoCodigo) return;

          ultimoCodigo = decodedText;

          // Aquí actualizas el resultado
          console.log(decodedText);

          setTimeout(() => {
            puedeEscanear = true;
          }, 2000);

          if (resultado) {
            resultado.innerHTML = `
              <div class="text-green-600">
                ✅ Código detectado
              </div>

              <div class="mt-2 text-lg">
                ${decodedText}
              </div>
            `;
          }

          console.log("QR:", decodedText);

          // Aquí luego consultaremos Supabase
        },
        () => {
          // Ignorar errores de lectura
        },
      );

      if (resultado) {
        resultado.innerHTML = "📷 Cámara iniciada. Apunte al código QR.";
      }
    } catch (error) {
      console.error(error);

      if (resultado) {
        resultado.innerHTML = `
          <div class="text-red-600">
            ❌ No se pudo acceder a la cámara
          </div>
        `;
      }
    }
  }

  const btnFinalizar = document.getElementById("btnFinalizar");

  btnFinalizar?.addEventListener("click", async () => {
    try {
      await html5QrCode.stop();

      const resultado = document.getElementById("resultado");

      if (resultado) {
        resultado.textContent = "✅ Asistencia finalizada";
      }
    } catch (error) {
      console.error(error);
    }
  });

  iniciarCamara();
</script>

<style>
  #reader {
    min-height: 300px;
  }
</style>
