---
import '../styles/global.css';
const {title} = Astro.props;
---


<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} /> -->
		<title>{title}</title>
	</head>
	<body class="bg-slate-100 min-h-screen">
		<main class="min-h-screen flex items-center justify-center p-4">
    		<div class="w-full max-w-md bg-white rounded-2xl shadow-xl p-6">
				<slot />
			</div>
		</main>	
	</body>
</html>