---
import '../styles/global.css';
import Toaster from '../components/Toaster';
const {title} = Astro.props;
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/educontrolqr.ico" />
		<title>{title}</title>
	</head>
	<body style="background-color: #f8fafc;" class="min-h-screen">
		<main class="min-h-screen flex items-center justify-center p-4">
			<!-- Contenedor principal con el diseño mejorado -->
			<div class="w-full max-w-md bg-white shadow-2xl rounded-3xl p-8 border border-gray-100 transform transition-all duration-500 hover:shadow-3xl">
				<slot />
				<Toaster client:only="react"/>
			</div>
		</main>	
	</body>
</html>