---
import "../styles/global.css";
import Toaster from '../components/Toaster';

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" href="/escudocolegio.ico" />
  <title>{title}</title>
</head>

<body class="bg-slate-100 min-h-screen p-8">
  <slot />
  <Toaster client:only="react" />
</body>

</html>